* {
    margin: 0;
    padding: 5px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Sassy Frass', cursive;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

button {
    background-color: rgb(48, 0, 92);
    padding: 10px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    width: 100px;
}
.sos button{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
}
button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 600;
}

nav {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

ul li:hover {
    text-decoration: underline;
    font-weight: 900;
}

.searchfield {
    display: flex;
    gap: 20px;
}

input {
    padding: 5px;
}

.mainsection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.ldc h1 {
    font-size: 65px;
    margin-bottom: 5px;
    font-weight: 900;
    color: rgb(48, 0, 92);
}

.ldc h1 span {
    color: rgb(142, 82, 245);
    font-weight: 900;
    /* font-size:2.5rem; */
}

.ldc p {
    font-weight: 900px;
    font-size: larger;
}

.ldc p span {
    font-weight: 500px;
    color: rgb(18, 155, 155);
}

.rdc {
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
width:40%;
gap:20px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
padding: 10px;
}
footer p{
    font-weight:bolder;
}
footer ul{
    display: flex;
    align-items: center;
}
 /* about css*/
 section{
   display: flex;
   justify-content: center;
   align-items: center;
    padding-top: 50px;
 }
 .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
border: 5px solid rgb(255, 255, 255);
height: 30vh;
width: 40%;
gap: 10px;
padding: 10px;
 }
.box1{
    font-weight: bold;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    height: 50px;
    width: 98%;
}
.box2{
    font-weight: bold;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
height: 50px;
width: 98%;
}
.box3{
    font-weight: bold;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
height: 50px;
width: 98%;
}
.box4{
    font-weight: bold;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    height: 50px;
    width: 98%;  
}

/* contact us */ 
section{
    display: flex;
    justify-content: space-evenly;
}

